CompileFlags:
  Compiler: avr-gcc
  Add: [
    -I/home/deneb/tmk_keyboard/tmk_core/common,
    -I/home/deneb/tmk_keyboard/tmk_core/protocol/lufa,
    -I/home/deneb/tmk_keyboard/tmk_core/protocol/lufa/lufa-abcminiuser,
    -I/usr/avr/include,
    -mmcu=atmega32u4,
    -DF_CPU=16000000UL,
    -DBOOTLOADER_SIZE=4096,
    -DVFD_ENABLE,
    -DTMK_LUFA_VERSION=d6a7df,
    -DF_USB=16000000UL,
    -DARCH=ARCH_AVR8,
    -DUSB_DEVICE_ONLY,
    -DUSE_FLASH_DESCRIPTORS,
    -DUSE_STATIC_OPTIONS="(USB_DEVICE_OPT_FULLSPEED | USB_OPT_REG_ENABLED | USB_OPT_AUTO_PLL)",
    -DFIXED_CONTROL_ENDPOINT_SIZE=8,
    -DFIXED_NUM_CONFIGURATIONS=1,
    -DPROTOCOL_LUFA,
    -DPS2_USE_INT,
    -DEXTRAKEY_ENABLE,
    -DNO_PRINT,
    -DNO_DEBUG,
    -DTMK_VERSION=144c3e,
    -DMATRIX_ROWS=17,
    -DMATRIX_COLS=8,
  ]
